body{
    background-color: #050505;
}
h1{
    color: #00ff21;
}
 .cor1{
    background-color: #00ff21;
 }
 h3{
    color: #00ff21;
 }
 .link-a-1{
        background-color: #1105f0;
        border: aliceblue solid 2px;
        color: aliceblue;
        font-weight: bolder;
    }
    
    